.pag-cadastro{
    float: left;
    margin-right: 140px;
}

.box-cadastro .wrap-input-100{
    padding-bottom: 15px;
}

.box-cadastro input{
    height: 25px;
    width: 450px;
    border-radius: 5px;
}

.box-cadastro .btn-green{
    width: 150px;
    height: 30px;
    margin-top: 15px;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right-side-pag img{
    padding-top: 30px;
}

