
.pag-login {
    height: 217px;
    background-color: #ecf0f1;
    text-align: center;
    padding: 150px;
}

.box-login {
    display: inline-block;
    background-color: white;
    box-shadow: 3px 3px 5px 2px #ccc;
    padding: 20px 20px 0px 20px ;
    border-radius: 20px;
    width: 390px;
    height: 230px;
}

.pag-login .input-padrao {
    width: 50% ;
    display: inline-block;
    height: 20px;
    width: 220px;
    margin-left: 10px;
    margin-top: 10px;
}

.pag-login div{
    margin-left: 14px;
}


.btn-green {
    color: white;
    background-color: green;
    margin: 20px 0 50px 0;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    float: left;
    cursor: pointer;
}

.pag-login .btn-green {
   display: block;
   float: none;
   margin: auto;   
}