
body, h1, span{
    margin: 0;
    padding: 0;
    border: 0;
}

.header{
    background-color: rgb(39, 39, 39);
    color: white;
    width: 100%;
    height: 50px;
    padding-top: 3px;
}

.container{
    max-width: 1280px;
    height: 100%;
    margin: 0;
}

.container-logo {
    padding: 13px;
    float: left;
    margin-left: 100px;
}


.barra-navegacao{
    float: right;
    margin-right: 100px;
    margin-top: -6px;
}

.lista-ul{
    list-style: none;
    
}

ul li{
  color: white;
  display: inline;
  margin-left: 17px;
  font-size: 17px;
  

}

.center2{
   color: white;
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 60px;
    
}

.center{
    width: 100%;
    height: 520px;
    background-image:url("img1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 5px solid orange;
}

.center .texto{
    font-size: 45px;
    padding-top: 50px;
    padding-left: 360px; 
}

.center2 h1{
    margin-top: 15px;
    margin-left: 100px;
    float: left;
    font-size: 25px;
}

.center h2{
    font-size: 20px;
    max-width: 850px;
    text-align: center;
    margin-left: 240px;
}

.sub-center2{
    float: right;
    margin-left: 400px;
    margin-top: 15px;
    margin-right: 170px;
}



.sub-center2 button{
    background-color: rgb(201, 131, 1);
    color: white;
    width: 70px;
    height: 29px;
    border-radius: 7px;
}

.sub-center2 input{
    width: 210px;
    height: 22px;
    border-radius: 5px;
}

.center3{
    width: 100%;
    height: 260px;
    text-align: center;
}

.center3 img{
    padding: 80px 130px;
}

.center3-texto{
    text-align: center;
}

.center3-texto span{
    margin: 165px;
}

.center4{
    text-align: center;
    font-size: 18px;
}

.center4 h1{
    max-width: 280px;
    float: left;
    font-size: 17px;
    margin-left: 105px;
    padding-left: 25px;
    font-weight: normal;
    text-align: center;
}

.footer{
    width: 100%;
    background-color: orange;
    margin-top: 30px;
    color: white;
    height: 25px;
    text-align: center;
}

