body{
    margin: 0;
    padding: 0;
    border: 0;
}

.header{
    background-color: rgb(39, 39, 39);
    color: white;
    width: 100%;
    height: 50px;
    padding-top: 3px;
}

.container{
    max-width: 1280px;
    height: 100%;
    margin: 0
}

.container-logo {
    padding: 13px;
    float: left;
    margin-left: 8%;
    position: static;
}


.barra-navegacao{
    float: right;
    margin-right: 5%;
    position: relative;
    margin-top: -6px;
}

.lista-ul{
    list-style: none;
}

ul li{
  color: white;
  display: inline;
  margin-left: 17px;
  font-size: 17px;

}
